main {
    width: 120%;
}

@media screen and (max-width: 1200px) {
    main {
        width: 150%;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }

}

.butao-ar {
    cursor: pointer;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #0080ff;
    position: absolute;
    left: 85%;
    transform: translateX(-85%);
    z-index: 1;
    top: 37vh;
}

h5{
    color: green;
}

label{
    color: rgb(9, 213, 9);
}